<div class="material-design-hamburger">
  <button class="material-design-hamburger__icon">
    <span class="material-design-hamburger__layer" {{bind-attr class=animationClass}}></span>
  </button>
</div>
