{{!
  Inspired by https://github.com/codrops/OffCanvasMenuEffects
}}
<div class="offcanvas-menu-wrap">
  {{offcanvas-menu-top}}
  {{offcanvas-menu-side allSections=allSections}}
</div>

<button class="offcanvas-menu-button" {{action "toggleMenu"}}>Open Menu</button>

<div class="offcanvas-content-wrap">
  <div class="offcanvas-content">
    {{yield}}
  </div>
</div>
