<div class="offcanvas-brand-area text-center">
  {{#link-to 'index'}}
    <a><img src="assets/images/logo-typeo-b.svg" height="50"></a>
  {{/link-to}}
</div>

<div class="offcanvas-social-icons">
  <a href="https://www.facebook.com/codetitlan"><i class="fa fa-fw fa-facebook"></i></a>
  <a href="https://twitter.com/codetitlan"><i class="fa fa-fw fa-twitter"></i></a>
  <a href="https://plus.google.com/111991058720980573132" rel="publisher"><i class="fa fa-fw fa-google-plus"></i></a>
  <a href="https://github.com/codetitlan"><i class="fa fa-fw fa-github"></i></a>
</div>
