<div class="ofcvm__topmenu__brand">
  {{#link-to 'index' }}
    <div class="logo--brand"></div>
  {{/link-to}}
</div>


<nav class="ofcvm__topmenu__icons">
{{#each item in topmenuItems}}

  <a {{bind-attr href=item.linkTarget}}>
    {{#material-button
      ripple=true
      icon=true
      class="ofcvm__topmenu__icons__icon"
    }}
    {{fa-icon item.iconName}}
    {{/material-button}}
  </a>

{{/each}}
</nav>
