<a class="offcanvas-logo-area text-center">
  <img src="assets/images/logo-quetz-b.svg" width="100">
</a>

<ul class="list-unstyled">
{{#each section in allSections}}


  {{#unless section.isSubsection}}

    {{#link-to section.linkTarget}}{{section.name}}{{/link-to}}
    {{#each subSection in section.subSections}}

      {{#link-to subSection.linkTarget}}
        {{fa-icon "caret-right"}} {{subSection.name}}
      {{/link-to}}

    {{/each}}

  {{/unless}}


{{/each}}
</ul>
