<nav>
{{#each section in sidemenuItems}}
    {{#unless section.isSubsection}}
      {{#link-to "sections" section.slug action="closeMenu"}}
        {{#material-button
          action="closeMenu"
          ripple=true
          class="ofcvm__menu__sidemenu__navigation__link"
        }}{{section.name}}{{/material-button}}
      {{/link-to}}
    {{/unless}}
  {{/each}}
</nav>
