<nav>
{{#each section in sidemenuItems}}
    {{#unless section.isSubsection}}
      {{#link-to "sections" section.slug action="closeMenu"}}
        {{#material-item
          class="ofcvm__sidemenu__link ofcvm__sidemenu__link--section"
          ripple=true
        }}{{section.name}}{{/material-item}}
      {{/link-to}}

      {{#if section.hasSubsections}}
        {{#each subsection in section.subSections}}
          {{#link-to 'subsection' section.slug subsection.slug}}
            {{#material-item
              class="ofcvm__sidemenu__link ofcvm__sidemenu__link--subsection"
              ripple=true
            }}{{subsection.name}}{{/material-item}}
          {{/link-to}}
        {{/each}}
      {{/if}}

    {{/unless}}
  {{/each}}
</nav>
