{{!
  Inspired by https://github.com/codrops/OffCanvasMenuEffects
}}


{{! class="offcanvasmenu__main__wrap" }}

<div class="ofcvm__menu-wrap">
  {{offcanvas-menu-top
    topmenuItems=topmenuItems}}
  {{offcanvas-menu-side
    sidemenuItems=sidemenuItems
    action="closeMenu"}}
</div>
<div class="ofcvm__toggler">
{{material-hamburger
  hamburgerToggler=showingMenu
  action="toggleMenu"}}
</div>

<div class="ofcvm__content-wrap">
  <div class="ofcvm__content">
    {{yield}}
  </div>
  <div class="ofcvm__content-wrap__overlay"></div>
</div>
