<div class="ofcvm__menu__topmenu__brand">
  {{#link-to 'index'}}
    <img src="assets/images/logo-typeo-b.svg" height="50">
  {{/link-to}}
</div>

<div class="ofcvm__menu__topmenu__icons">
{{#each item in topmenuItems}}
  <a {{bind-attr href=item.linkTarget}}>{{fa-icon item.iconName}}</a>
{{/each}}
</div>
