<a class="offcanvas-logo-area text-center">
  <img src="assets/images/logo-quetz-b.svg" width="100">
</a>

{{#link-to 'index'}}Inicio{{/link-to}}
<a href=""></a>
{{#link-to 'index'}}Todavía...{{/link-to}}
{{#link-to 'index'}}...no hay...{{/link-to}}
{{#link-to 'index'}}...nada...{{/link-to}}
{{#link-to 'index'}}...aquí.{{/link-to}}

