{{!
  Inspired by https://github.com/codrops/OffCanvasMenuEffects
}}
<div class="offcanvasmenu__menu__wrap">
  {{offcanvas-menu-top}}
  {{offcanvas-menu-side allSections=allSections}}
</div>

<button class="offcanvasmenu__button" {{action "toggleMenu"}}>Open Menu</button>

<div class="offcanvasmenu__content__wrap">
  <div class="offcanvasmenu__content">
    {{yield}}
  </div>
</div>
