
@import "components/material-hamburger";
.material__hamburger {
  margin: 1em;
  &:hover {
    opacity: 0.6;
  }
}

// ====> OffCanvas Menu <====
@import "components/offcanvas-menu";
// Overide default styles
.ofcvm__menu {

  // &__topmenu {

  //   &__social-icons {
  //     display: inline-block;
  //     font-size: 1.25em;
  //     a {
  //       margin: 0 1em 0 0;
  //       padding: 0;
  //     }
  //     @media screen and (max-width: 32em) {
  //       a {margin-left: 1em; margin-right: 0;}
  //       margin: 0 auto;
  //       padding-left: 1.25em;
  //     }
  //   }
  // } // <-- end: __topmenu

  // &__sidemenu {
  //   .active { background-color: #ddd; }
  //   div { cursor: pointer; }
  //   a {
  //     display: block;
  //     padding: 1.2em;
  //     border-bottom: 1px solid rgba(0,0,0,0.1);
  //     // &:first-child {
  //     //   border-top: 1px solid rgba(0,0,0,0.1);
  //     // }
  //   }
  // } // <-- end: __sidemenu
}
