.console {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

.section__header {
  height: 20em;
  background-color: #fafafa;
  text-align: right;
  padding-top: 5em;
  h2 {
    font-weight: 900;
  }
}

.section--psicologia {
  .section__header {
    background-color: #afafaf;
  }
}


.section--arqueologia {
  .section__header {
    background-color: #ffaaff;
  }
}
