// OffCanvas menu
// Inspired by: https://github.com/codrops/OffCanvasMenuEffects

// Default variables
$ofcvm-sidemenu-width: 250px !default;
$ofcvm-topmenu-height: 60px !default;
$ofcvm-animation-duration: 300ms !default;

@mixin meta-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ofcvm {

  &__main-wrap { @include meta-wrap; } // <--end: __main-wrap
  &__menu-wrap {
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s;
  } // <--end: __menu-wrap
  &__content-wrap {
    @include meta-wrap;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: transform $ofcvm-animation-duration;
  } // <--end: __content-wrap
  &__content {
    position: relative;
    height: 100%;
    // Overlay
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      content: '';
      opacity: 0;
      transform: translate3d(100%,0,0);
      transition: opacity $ofcvm-animation-duration, transform 0s $ofcvm-animation-duration;
    }
  } // <--end: __content
  &__toggler {
    position: fixed;
    z-index: 1000;
    border: none;
    color: transparent;
    background: transparent;
    transition: transform $ofcvm-animation-duration;
    &:focus { outline:0; }
  } // <--end: __toggler


  // -- Menu styles
  &__menu {

    &__topmenu {
      height: $ofcvm-topmenu-height;

      &__brand {
        display: inline-block;
        width: $ofcvm-sidemenu-width;
        height: $ofcvm-topmenu-height;
      }

      &__icons {
        display: inline-block;
        height: $ofcvm-topmenu-height;
      }
    } // <-- end: __topmenu

    &__sidemenu {
      min-height: 100%;
      width: $ofcvm-sidemenu-width;

      &__logo {

      }
      &__nav{

      }
    } // <-- end: __sidemenu
  } // <-- end: __menu

  // Showing the menu
  &__main-wrap--showingMenu {

    .ofcvm__content-wrap, .ofcvm__toggler,{
      transform: translate3d($ofcvm-sidemenu-width,60px,0);
    }
    .ofcvm__menu-wrap {
      opacity: 1;
      z-index: 1000;
    }
    .ofcvm__content::before {
      opacity: 1;
      z-index: 1000;
      transition: opacity $ofcvm-animation-duration;
      transform: translate3d(0,0,0);
    }
  } // <-- end: __main-wrap--showingMenu

}
