// OffCanvas menu
// Inspired by: https://github.com/codrops/OffCanvasMenuEffects

// Default variables
$ofcvm-sidemenu-width: 250px !default;
$ofcvm-topmenu-height: 60px !default;
$ofcvm-animation-duration: 300ms !default;

$animation-curve--fosi: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve--losi: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve--foli: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve--fosi !default;
@mixin ofcvm-animation-fosi($property,$duration:$ofcvm-animation-duration) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $animation-curve-fosi;
}
@mixin ofcvm-animation-losi($property,$duration:$ofcvm-animation-duration) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $animation-curve-losi;
}
@mixin ofcvm-animation-foli($property,$duration:$ofcvm-animation-duration) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $animation-curve-foli;
}
@mixin ofcvm-animation-default($property,$duration:$ofcvm-animation-duration) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $animation-curve-default;
}
@mixin constrain-hw($value) {
  height: $value;
  width: $value;
}

html, body,
body > .ember-view {
  @include constrain-hw(100%);
}
body {
  overflow: hidden;
}
.ofcvm {
  &__main-wrap {
    @include constrain-hw(100%);
    overflow: hidden;
  }
  &__menu-wrap {
    overflow: hidden;
    @include constrain-hw(100%);
    position: absolute;
    z-index: 1;
    opacity: 0;
    @include ofcvm-animation-default(opacity, $ofcvm-animation-duration);
  } // <--end: __menu-wrap
  &__content-wrap {
    position: relative;
    z-index: 3;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // overflow-x: hidden;
    @include constrain-hw(100%);
    @include ofcvm-animation-default(transform, $ofcvm-animation-duration);

    &__overlay {
      @include constrain-hw(100%);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      background-color: rgba(255,255,255,0.5);
      @include ofcvm-animation-default(opacity, $ofcvm-animation-duration);
    } // <--end: __content-wrap__overlay
  } // <--end: __content-wrap

  &__content {
    position: relative;
    z-index: inherit;
    min-height: 100%;
  } // <--end: __content
  &__toggler, &__toggle-button {
    position: fixed;
    z-index: 5;
    @include transition-property(transform);
    @include ofcvm-animation-default($ofcvm-animation-duration);
  } // <--end: __toggler
  &__topmenu {
    position: relative;
    display: block;
    min-height: $ofcvm-topmenu-height;
    &__brand {
      float: left;
      width: $ofcvm-sidemenu-width;
      height: $ofcvm-topmenu-height;
    }
    &__icons {
      display: inline-block;
      float: left;
      width: $ofcvm-sidemenu-width;
      height: $ofcvm-topmenu-height;
    }
  } // <-- end: __topmenu
  &__sidemenu {
    position: relative;
    display: block;
    width: $ofcvm-sidemenu-width;
  } // <-- end: __sidemenu
}


// Whosing the menu
.ofcvm__main-wrap--showingMenu {

  .ofcvm__content-wrap, .ofcvm__toggler,{
    transform: translate3d($ofcvm-sidemenu-width,$ofcvm-topmenu-height,0);
  }
  .ofcvm__menu-wrap {
    opacity: 1;
    z-index: 2;
  }
  .ofcvm__content-wrap__overlay {
    opacity: 1;
    z-index: 5;
  }

} // <-- end: __main-wrap--showingMenu
