<header class="section__header">
  <h1>{{string-capitalize name}}</h4>
  <h5>{{description}}</h5>
</header>
<div class="section__body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Articulos recientes</h3>
      </div>
    </div>
    <div class="row">
      {{#each article in articles}}
      <div class="col-xs-12 col-md-6">
        {{display-article article=article}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
