{{! Component offcanvas-wrapper}}

{{#offcanvas-wrapper
  sidemenuItems=sidemenuItems
  topmenuItems=topmenuItems
  showingMenu=showingMenu
  toggleMenu="toggleMenu"}}
{{outlet}}
{{/offcanvas-wrapper}}

<div class="console">
  {{#if showingMenu}}
    <p>Dippi !</p>
    {{else}}
    <p>Dahh !</p>
  {{/if}}
</div>
