{{! Component offcanvas-wrapper}}

{{#offcanvas-wrapper
  sidemenuItems=sidemenuItems
  topmenuItems=topmenuItems
  showingMenu=showingMenu
  toggleMenu="toggleMenu"
  openMenu="openMenu"
  closeMenu="closeMenu"}}
{{outlet}}
{{/offcanvas-wrapper}}

</div>
