{{! Component offcanvas-wrapper}}

{{#offcanvas-wrapper
  sidemenuItems=sidemenuItems
  topmenuItems=topmenuItems
  showingMenu=showingMenu
  toggleMenu="toggleMenu"}}
{{outlet}}
{{/offcanvas-wrapper}}

</div>
