<div class="section__index">


  <div class="row">


    <div class="col-xs-12">

      <header class="section__index__header">
        <img src="assets/images/logo-codetitlan-b.svg" width="200">
      </header>

    </div>


    <div class="col-xs-12">

      <section>
        <h2 class="text-center">Abrazando la revolución del pensamiento libre</h2>
        <div class="index-social-icons text-center">
          <a href="https://www.facebook.com/codetitlan"><i class="fa fa-fw fa-facebook"></i></a>
          <a href="https://twitter.com/codetitlan"><i class="fa fa-fw fa-twitter"></i></a>
          <a href="https://plus.google.com/111991058720980573132" rel="publisher"><i class="fa fa-fw fa-google-plus"></i></a>
          <a href="https://github.com/codetitlan"><i class="fa fa-fw fa-github"></i></a>
        </div>
      </section>

    </div>


  </div>


</div>
