<section class="section section--index">
  {{!-- <div class="container-fluid"> --}}

    {{! Temporal index page }}
    <header class="section__header section--index__header">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="sr-only">Codetitlan.org</h1>
          <a><img src="assets/images/logo-codetitlan-b.svg" width="200"></a>
        </div>
      </div>
    </header>

    <div class="section__body section--index__body">


      <div class="row">
        <div class="col-xs-12">

          <section>
            <h2 class="text-center">Abrazando la revolución del pensamiento libre</h2>
            <div class="index-social-icons text-center">
              <a href="https://www.facebook.com/codetitlan"><i class="fa fa-fw fa-facebook"></i></a>
              <a href="https://twitter.com/codetitlan"><i class="fa fa-fw fa-twitter"></i></a>
              <a href="https://plus.google.com/111991058720980573132" rel="publisher"><i class="fa fa-fw fa-google-plus"></i></a>
              <a href="https://github.com/codetitlan"><i class="fa fa-fw fa-github"></i></a>
            </div>
          </section>

          <section id="botonera">
            <p>default</p>
            {{#material-button}}flat{{/material-button}}
            {{#material-button raised=true}}raised{{/material-button}}
            <p>with ripples</p>
            {{#material-button ripple=true}}flat{{/material-button}}

          </section>

        </div>
      </div>
    </div>


  {{!-- </div> --}}
</section>
