<header class="content-header">
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
  <h1><img src="assets/images/logo-quetz-b.svg" width="200"></h1>
</header>
